{
  "presets": [
    "es2015",
    "react",
  ],
  "plugins": [
    "dynamic-import-node",
    "transform-class-properties",
    "transform-object-rest-spread",
    "../babel",
    ["module-resolver", {
      "alias": {
        "react-chunk": "./src/index.js",
        "react-chunk/Recorder": "./src/Recorder.js",
        "react-chunk/webpack": "./src/webpack.js",
      },
    }]
  ],
}
